@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Rajdhani:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans JP', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rajdhani', 'Noto Sans JP', sans-serif;
}